<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated net.thwack.apiblueprint.model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.thwack.apiblueprint.model.presentation.APIBlueprintModelModelWizardID"
            name="%_UI_APIBlueprintModelModelWizard_label"
            class="net.thwack.apiblueprint.model.presentation.APIBlueprintModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/APIBlueprintModelModelFile.gif">
         <description>%_UI_APIBlueprintModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated net.thwack.apiblueprint.model -->
      <editor
            id="net.thwack.apiblueprint.model.presentation.APIBlueprintModelEditorID"
            name="%_UI_APIBlueprintModelEditor_label"
            icon="icons/full/obj16/APIBlueprintModelModelFile.gif"
            extensions="apibmodel"
            class="net.thwack.apiblueprint.model.presentation.APIBlueprintModelEditor"
            contributorClass="net.thwack.apiblueprint.model.presentation.APIBlueprintModelActionBarContributor">
      </editor>
   </extension>
</plugin>
